
.headerLogo {
  height: 36px;
}

.headerFont {
  font-size: 24px;
  font-weight: 500;
}
.orders {
  &__list-actions {
    display: flex;
    align-items: center;
    transition: all .05s ease-in-out;
  }
  &__list-actions-active {
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 5px;
  }
}
.orders-headers {
  display: flex;
  flex-direction: row;
}
.no-results {
  width: 100%;
  min-height: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 90%;
    max-width: 150px;
  }
}

.filters {
  padding: 0;
  max-height: 0px;
  overflow: hidden;
  transition: all .3s ease-in-out;
  background-color: #f9f9f9;
  border-radius: 10px;
  display: flex;
  align-items: center;
  &__actions {
    width: 50%;
    display: flex;
  }
}

.filters-active {
  margin: 1em 0;
  padding: 1em 0;
  max-height: 200px;
}