$break-small: 900px;
$primary-color: #1976d2;
$primary-color-lighter: #DDEBF9;

body {
  background-color: #fff;
}
.App {
  width: 95%;
  margin: 0 auto;
}
.header {
  background-color: #fff;
  margin-bottom: 20px;

  &__actions {
    display: flex;
    @media screen and (max-width: $break-small) {
      display: none;
    }
  }
}
.action-button {
  width: 200px;
  height: 60px;
  margin-left: 10px;
  @media screen and (max-width: $break-small) {
    width: 100%;
  }
}
.filter-button {
  width: 130px;
  height: 60px;
  margin-left: 10px;
  @media screen and (max-width: $break-small) {
    width: 100%;
  }
}

.headerLogo {
  height: 36px;
}

.headerFont {
  font-size: 16px;
  font-weight: 600;
}

.orders {
  width: 100%;
  &__list-actions {
    display: flex;
    align-items: center;
    transition: all .05s ease-in-out;
  }
  &__list-actions-active {
    display: flex;
    align-items: center;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(193, 193, 193);
  }
  &__headers {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: $break-small) {
      flex-direction: column;
    }
  }
  &__action {
    margin-right: 1em;
    height: 60px;
    @media screen and (max-width: $break-small) {
      margin: 0 0 1em 0;
    }
  }
}

.orders-table {
  &__mobile {
    display: none;
  }
  &__desktop {
    display: block;
  }
  &__header {
    font-weight: 600;
  }
  &__order-id {
    font-weight: 600;
    font-size: 14px;
    background-color: $primary-color;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width: $break-small) {
    &__desktop {
      display: none;
    }
    &__mobile {
      display: block;
      padding-bottom: 100px;
    }
  }
}
.mb-1 {
  margin: 1em 0;
}
.no-results {
  width: 100%;
  min-height: 300px;
  height: 30vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  &__graphic {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 15vw;
    height: 15vw;
    min-width: 200px;
    min-height: 200px;
    border-radius: 50%;
    background: linear-gradient(#eee, #fff);
    margin-bottom: 10px;
    svg {
      width: 90%;
      max-width: 150px;
    }
  }
}
.filter-chips {
  margin: 20px 0 0;

  &__chip {
    margin: 0 5px 5px 0;
  }
}
.filters {
  padding: 0;
  max-height: 0px;
  overflow: hidden;
  transition: all .3s ease-in-out;
  border-radius: 10px;
  display: flex;
  align-items: center;
  &__actions {
    width: 50%;
    height: 60px;
    max-width: 600px;
    display: flex;
    &__action {
      width: 100%;
      max-width: 300px;
      height: 60px;
      margin-right: 1em;

    }
  }
  @media screen and (max-width: $break-small) {
    &__actions {
      width: 100%;
      height: 60px;
      max-width: unset;
      display: flex;
      flex-flow: wrap;
      &__action {
        width: 100%;
        max-width: unset;
        height: 60px;
        margin-right: unset;
        margin-bottom: 20px;
      }
    }
  }
}

.filters-active {
  padding: 10px 0;
  max-height: 200px;
  @media screen and (max-width: $break-small) {
    padding: 10px 0 100px 0;
  }
}

.filter-badge {
  background-color: $primary-color;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.status {
  background-color: $primary-color-lighter;
  color: $primary-color;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  padding: .8em 1.5em;
  border-radius: 5px;
  display: inline-block;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.status-small {
  background-color: $primary-color-lighter;
  color: $primary-color;
  font-size: 10px;
  margin: 0 2px 0 0;
  text-transform: uppercase;
  font-weight: 700;
  padding: 4px 6px;
  border-radius: 5px;
  display: inline-block;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.card {
  width: 100%;
  margin: 0 auto 10px;
  padding: 20px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;

  &__container {
    width: 95%;
    margin: 0 auto;
  }
  &__row {
    display: flex;
    align-items: center;
    padding: 5px 0;
  }
  &__col {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    width: 100%;
  }
  &__label {
    font-weight: 600;
    margin-top: 15px;
  }
  .status-small {
    width: 80px;
  }
  .status-container {
    text-align: center;
    align-items: flex-end;
  }
}